<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
    <form method='post' action="/predict" method="POST" enctype="multipart/form-data">
        <input type='file' id='imagefile' name='file' onchange="form.submit()">
        <button type = "button" onclick ="javascript:document.getElementById('imagefile').click();">
          <i class="fa fa-upload"></i>
          Choose
        </button>
        </div>
      </form>
</body>
</html>